html {
    background-color: white;
    height: 100%;
    margin-top: -8px;
    margin-bottom: -8px;
    overflow-y: hidden;
    background-image: url("/eatfood/img/background3.jpg");
    background-size: 100%;
}
h1 {
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black;
    border-radius: 5px 5px 20px 20px;
    background: linear-gradient(180deg, #557776, #cc9a5c 90%, #557776);
}
body {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;

    width: 20em;
    border: 2px solid black;
    border-radius: 50px;

    box-shadow: 10px 10px 15px 3px #61605d;
    background-color:#557776;
}
form {
    margin: 20px 5px 0 5px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    height: 10em;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 14pt Arival;
    font-weight: bolder;
    font-style: italic;

    background-color: white;
}
form > div {
    display: flex;
    flex-direction: column;
}
form input[type='text'], form input[type='password'] {
    font: 14pt Courier;
    font-weight: bold;
    color: hsl(200, 50%, 10%);
    background-color: #ecf1f0;
    padding: 0 1em;
    border-radius: 5px;
    border: 1px solid black;
}
form input[type='submit'] {
    margin: 2em auto;
    
    width: 7em;
}
button {
    margin-left: 1em;
}
    
.b-btn {
    padding: 3px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: -2px;
    font: 10pt sans;
    font-weight: bold;
    background-color: white;
    color: inherit;

}
.b-btn:hover, .b-btn:focus {
    padding-top: -1px;
    padding-bottom: -1px;
    color: orange;
    box-shadow: 0 0 15px 1px orange;
    border-color: orange;
    cursor: pointer;
}
    
