* {
    font-size: 14pt;
}
html {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body > div {
    border: 2px solid black;
    margin: 10px;
    padding: 1em;
    background-color: hsl(0, 30%, 90%);
}
/* menu-bar */
.menu-bar {
    display: flex;
}
.menu-bar > * {
    flex: 1;
}
.menu-bar > form > input {
    width: 100%;
}

/* dose-row */
.dose {
    display: flex;
    background-color: hsl(170, 50%, 50%);
}
.dose * {
    border: 1px solid black;
    margin: 1px;
    flex: 1;
}
.dose .name {
    flex: 5;
}

/* food-row */
.food {
    display: flex;
    background-color: hsl(270, 50%, 50%);
}
.food * {
    border: 1px solid black;
    margin: 1px;
    max-width: 20%;
    flex: 1;
}

/* inputs */
input[type='text'] {
    width: 5%;
}
input[type='date'] {
    flex: 2;
}
button[onclick] {
    flex: 0.5;
}
