html {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body > div {
    border: 2px solid black;
    margin: 10px;
    padding: 1em;
    background-color: hsl(0, 30%, 90%);
}
/* menu-bar */
.menu-bar {
    display: flex;
}
.menu-bar > * {
    flex: 1;
}
.menu-bar > form > input {
    width: 100%;
}

/* dose-row */
.dose-row {
    display: flex;
    background-color: hsl(170, 50%, 50%);
}
.dose-row * {
    border: 1px solid black;
    margin: 1px;
}
.dose-row > .dose {
    flex: 7;
    display: flex;
    background-color: hsl(200, 50%, 60%);
}
.dose-row > .dose .food-name {
    flex: 5;
}
.dose-row > .dose > .nutrients {
    flex: 4;
    display: flex;
}
.dose-row > .dose > .nutrients > * {
    flex: 1;
}
.dose-row > .dose > .dose-gram {
    flex: 1;
}
.dose-row > .dose > .dose-date {
    flex: 1;
}
.dose-row > .dose-control {
    flex: 1;
    display: flex;
}
.dose-row > .dose-control > * {
    flex: 1;
}

/* food-row */
.food-row {
    display: flex;
    background-color: hsl(270, 50%, 50%);
}
.food-row * {
    border: 1px solid black;
    margin: 1px;
}
.food-row > .food {
    flex: 7;
    display: flex;
}
.food-row > .food > .food-name {
    flex: 3;
}
.food-row > .food > * {
    flex: 1;
}
.food-row > .food-control {
    flex: 1;
    display: flex;
}
.food-row > .food-control > * {
    flex: 1;
}
