<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="eatfood" packages="">
  <Appenders>
    <File name="fileLogger"
	  filename="${logger.filename}"
	  ignoreExceptions="false">
      <PatternLayout>
	<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.belenot.eatfood" level="all">
      <AppenderRef ref="fileLogger"/>
    </Logger>
  </Loggers>
</Configuration>
  
