<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="eatfood" packages="">
  <Appenders>
    <File name="fileLogger"
	  filename="${logger.filename}"
	  ignoreExceptions="false">
      <PatternLayout>
	<Pattern>%highlight{%d %p [%t][%c] %m%n}</Pattern>
      </PatternLayout>
    </File>
    <File name="fileLoggerConcise"
	  filename="${logger.filename}.concise">
      <PatternLayout>
	<Pattern>%highlight{%d %p [%c] %m%n%ex{0}}</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.belenot.eatfood" level="all">
      <AppenderRef ref="fileLogger"/>
      <AppenderRef ref="fileLoggerConcise"/>
    </Logger>
  </Loggers>
</Configuration>
  
