html {
    padding-left: 0;
}
body {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    background-image: url("/eatfood/resources/img/background.jpg");
    background-size: cover;
    height: 100%;
}
#content-pane {
    width: 1000px;
    background-color: hsl(0, 0%, 95%);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    border-right: 2px  double silver;
    border-left: 2px double silver;
    padding-bottom: 15em;
}

#auth-form {
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    justify-items: baseline;
}
#auth-form > input[type="submit"] {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    color: hsl(0, 0%, 80%);
    font: 12pt 'Lato', sans-serif;
    font-weight: 800;
    margin-left:1em;
    margin-right:1em;
}
#auth-form>input[type="text"]  {
    font-size: 24px;
    border-radius: 10px 0px 0px 10px;
    border-style: outset;
    padding-left:1em;
}
#auth-form>input[type="password"]  {
    font-size: 24px;
    background-color: black;
    color: hsl(0, 0%, 80%);
}
#auth-form>label {
    font-size: 2em;
    color: silver;
    border: none;
}

#auth-form>input[type="submit"]:hover {
    color: hsl(0, 0%, 95%);
}

#footer-pane {
    margin-top: 5em;
    margin-bottom: auto;
    width: 30%;
    margin-left:auto;
    margin-right:auto;
    background-color: hsl(90, 0%, 100%);
    border: 3px solid hsl(0, 0%, 50%);
    border-radius: 5px;
    padding: 0.6em;
    padding-bottom: 1em;
}

#footer-content {
    color: hsl(0, 0%, 30%);
    font-weight: 500;
    font-size: 12pt;


