<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <h2>login</h2>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="login">
            <input type="pasword" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
        <br>
        <h2>sign up</h2>
        <form method="post" action="/signup">
            <input type="text" name="login" placeholder="login">
            <input type="text" name="name" placeholder="name">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="sign up">
        </form>
    </body>
</html>