<form class="add-dose" action="/eatfood/foodlist/addDose" method="post">
  <div hidden>
    <input class="name" type="text" name="name" placeholder="name">
    <input class="item" type="text" name="calories" placeholder="kcal">
    <input class="item" type="text" name="protein" placeholder="prot">
    <input class="item" type="text" name="carbohydrate" placeholder="carb">
    <input class="item" type="text" name="fat" placeholder="fat">
  </div>
  <input class="food-range" type="range" name="food">
  <input class="item" type="text" name="gram" placeholder="gram">
  <input class="date" type="date" name="date">
  <input class="item" type="submit" value="Add">
</form>
