<%@ page import="com.belenot.eatfood.domain.Food" %>
<%@ page import="java.util.List" %>
<%@ page import="java.util.ArrayList" %>
<form id="addfood" action="/eatfood/foodlist/addfood" method="post">
  <label for"name">Naming</label>
  <label for"calories">Calories</label>
  <label for"protein">Protein</label>
  <label for"carbohydrate">Carbohydrate</label>
  <label for"fat">Fat</label>
  
  <input type="text" name="name">
  <input type="text" name="calories">
  <input type="text" name="protein">
  <input type="text" name="carbohydrate">
  <input type="text" name="fat">
  <input type="submit" value="add">
</form>
