<%@ page import="com.belenot.eatfood.domain.Food" %>
<%@ page import="java.util.List" %>
<%@ page import="java.util.ArrayList" %>
<form id="addfood" action="/eatfood/foodlist/addfood" method="post">
  <div class="row">
    <input class="item name" type="text" name="name" placeholder="name">
    <input class="item" type="text" name="calories" placeholder="kcal">
    <input class="item" type="text" name="protein" placeholder="prot">
    <input class="item" type="text" name="carbohydrate" placeholder="carb">
    <input class="item" type="text" name="fat" placeholder="fat">
    <input class="item" type="submit" value="Add">
  </div>
  <div class="row">
  </div>
</form>
