<div class="dose" data-object="dose" onmouseenter="spanName(event);">
  <input class="name" data-name="dose.food.name" disabled type="text" name="name" >
  <input class="gram" data-name="dose.gram" disabled type="text" name="gram">
  <input class="date" data-name="dose.date" disabled type="date" name="date">
  <input class="id" data-name="dose.id" disabled type="hidden" name="id">
  <button onclick="onUpdateDoseBtnClick(event);" name="update">update</button>
  <button onclick="onDeleteDoseBtnClick(event);" name="delete">delete</button>
</div>
