<div class="dose-row">
  <div class="dose">
    <label class="food-name"><%= dose.getFood().getName() %></label>
    <label class="dose-gram"><%= dose.getGram() %></label>
    <label class="dose-date"><%= dose.getDate().toString() %></label>
  </div>
  <form class="dose-control" action="/eatfood/foodlist/deletedose" method="post">
    <input class="dose-id" type="hidden" name="id" value="<%= dose.getId() %>">
    <button onclick="onUpdateDoseBtnClick(event);" >update</button>
    <input type="submit" value="delete">
  </form>
</div>
