<div class="food">
  <input type='text' disabled name="name"></input>
  <input type='checkbox' disabled name="common"></input>
  <input type='text' disabled name="calories"></input>
  <input type='text' disabled name="protein"></input>
  <input type='text' disabled name="carbohydrate"></input>
  <input type='text' disabled name="fat"></input>
  <input type='hidden' disabled name="id"></input>
  <button onclick="onUpdateFoodBtnClick(event);" name="update">update</button>
  <button onclick="onDeleteFoodBtnClick(event);" name="delete">delete</button>
</div>
