<div class="food-row">
  <div class="food">
    <label class="food-name"><%= food.getName() %></label>
    <label class="food-common"><%= food.isCommon() ? "common" : "uncommon" %></label>
    <label class="food-calories"><%= food.getCalories().toString() %></label>
    <label class="food-protein"><%= food.getProtein().toString() %></label>
    <label class="food-carbohydrate"><%= food.getCarbohydrate().toString() %></label>
    <label class="food-fat"><%= food.getFat().toString() %></label>
  </div>
  <div class="food-control">
    <input class="food-id" type="hidden" name="id" value="<%= food.getId() %>">
    <button onclick="onUpdateFoodBtnClick(event);" >update</button>
    <button onclick="onDeleteFoodBtnClick(event);">delete</button>
  </div>
</div>
