<div class="food-row">
  <div class="food">
    <label class="food-name"><%= food.getName() %></label>
    <label class="food-common"><%= food.isCommon() ? "common" : "uncommon" %></label>
    <label class="food-calories"><%= food.getCalories().toString() %></label>
    <label class="food-protein"><%= food.getProtein().toString() %></label>
    <label class="food-carbohydrate"><%= food.getCarbohydrate().toString() %></label>
    <label class="food-fat"><%= food.getFat().toString() %></label>
  </div>
  <form class="food-control" action="/eatfood/foodlist/deletefood" method="post">
    <input class="food-id" type="hidden" name="id" value="<%= food.getId() %>">
    <button onclick="onUpdateFoodBtnClick(event);" >update</button>
    <input type="submit" class="food-delete-form--activate" value="delete">
  </form>
</div>
