<div class="food" data-object="food">
  <input type="text" disabled name="name" data-name="food.name"></input>
  <input type="checkbox" disabled name="common" data-name="food.common"></input>
  <input type="text" disabled name="calories" data-name="food.calories"></input>
  <input type="text" disabled name="protein" data-name="food.protein"></input>
  <input type="text" disabled name="carbohydrate" data-name="food.carbohydrate"></input>
  <input type="text" disabled name="fat" data-name="food.fat"></input>
  <input type="hidden" disabled name="id" data-name="food.id"></input>
  <button class="b-btn" onclick="onUpdateFoodBtnClick(event);" name="update"></button>
  <button class="b-btn" onclick="onDeleteFoodBtnClick(event);" name="delete"></button>
</div>
