<html>
  <head>
    <link href="/eatfood/header/header.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <form action="/eatfood/registration">
	<input type="submit" class="header-item" value="Registration">
      </form>
      <form action="/eatfood/authorization">
	<input type="submit" class="header-item" value="Authorization">
      </form>
      <form action="/eatfood/foodlist">
	<input type="submit" class="header-item" value="Food List">
      </form>
      <form action="/eatfood/logout">
	<input type="submit" class="header-item" value="Logout">
      </form>
    </div>
  </body>
</html>

