<div class="menu-bar">
  <div>
    <button onclick="window.location.href='/eatfood/registration';" class="b-btn">Registration</button>
  </div>
  <div>
    <button onclick="window.location.href='/eatfood/authorization';" class="b-btn">Authorization</button>
  </div>
  <div>
    <button onclick="window.location.href='/eatfood/foodlist';" class="b-btn">Food List</button>
  </div>
  <div>
    <button onclick="window.location.href='/eatfood/doselist';" class="b-btn">Dose List</button>
  </div>
  <div>
    <button onclick="window.location.href='/eatfood/logout';" class="b-btn">Logout</button>
  </div>
</div>
