<div class="total-nutrients">
  <label class="total">Total</label>
  <div class="nutrients">
    <label class="calories">Calories:</label>
    <label id="calories">kcal</label>
    <label class="protein">Protein:</label>
    <label id="protein">prot</label>
    <label class="carbohydrate">Carbohydrate:</label>
    <label id="carbohydrate">carbo</label>
    <label class="fat">Fat:</label>
    <label id="fat">fat</label>
  </div>
  <div class="period">
    <label class="period-start">start</label>
    <label class="period-end">end</label>
  </div>
</div>
