<div class="total-nutrients">
  <label class="total">Total</label>
  <div class="nutrients">
    <label class="calories">Calories:</label>
    <label id="calories"><%=totalNutrients.get("calories").setScale(2)%></label>
    <label class="protein">Protein:</label>
    <label id="protein"><%=totalNutrients.get("protein").setScale(2)%></label>
    <label class="carbohydrate">Carbohydrate:</label>
    <label id="carbohydrate"><%=totalNutrients.get("carbohydrate").setScale(2)%></label>
    <label class="fat">Fat:</label>
    <label id="fat"><%=totalNutrients.get("fat").setScale(2)%></label>
  </div>
  <div class="period">
    <label class="period-start">start</label>
    <label class="period-end">end</label>
  </div>
</div>
