<div class="food-row food-object">
  <div class="food">
    <input type="text" name="name" class="food-name name" >
    <input type="checkbox" name="common" class="food-common common">
    <input type="text" name="calories" class="food-calories calories">
    <input type="text" name="protein" class="food-protein protein">
    <input type="text" name="carbohydrate" class="food-carbohydrate carbohydrate">
    <input type="text" name="fat" class="food-fat fat">
  </div>
  <div class="food-control">
    <input class="food-id id" type="hidden" name="id">
    <button class="food-update-form" onclick="onUpdateFoodSubmitBtnClick(event)">ok</button>
    <button class="food-update-close-btn" >close</button>
  </div>
</form>
